---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Abid Nasim" description="About Abid Nasim">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Let me introduce myself."
			>
				<img
					width="1553"
					height="873"
					src="/assets/an-office.jpg"
					alt="At Work"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I got my first computer in 1982. A Sinclair ZX81. It had 1 kilobyte of memory. When you booted it,&nbsp;
						the system would take away 300 bytes and leave you with 700 bytes to do all the programming.
					</p>
					<p>
						Needless to say, I was hooked. Then somewhere along the road, I discovererd Linux. I spent countless&nbsp;
						hours learning it, keeping it up to date. As it changed filesystems, network stack, and many other&nbsp;
						transformational changes some of which required compiling newer kernels which in turn required the&nbsp;
						the new feature to compile in the first place. In short, lots of catch-22's.
					</p>
					<p>
						Today, having worked on dozens of projects, I am more interested in giving back, and sharing the lessons&nbsp;
						I have learnt the hard way. 
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Master of Business Administration</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Certifications</h2>
				<div class="content">
					<p>MCP, MCAD, MCSD</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Abilities</h2>
				<div class="content">
					<p>Architect, Project Manager, and Technical Lead.</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
