---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Platform Engineer</h2>
		<p>As a cross-platform developer, I have routinely integrated multiple Line of Business (LOB) applications.&nbsp;
			And I have migrated on-prem to cloud, many many times. Meanwhile, I enjoy writing code in more than one language.  
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Architect</h2>
		<p>I have deliverd over 30 projecs. In nearly 50% of them, I had to propose an architecture and defend it.&nbsp;
			Defending your solution architure is akin to defending for doctorate thesis, albeit perhaps less rigorous. &nbsp;
			Archtecture is about important things. Lower latency or higher throughput? Data Integrity or Data Availability? &nbsp;
			Which of the dimensions are important among Time, Cost and Quality?
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="rocket-launch" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Project Management</h2>
		<p>While I am at heart a techie, I am also a people's person. I am a programmers' programmer. I understand&nbsp;
			you can suboptimize an organizational unit in order to optimize the enterprise.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
